<main class="flex justify-center">
  <div class="card-container mt-[200px] w-[340px] p-6 border border-solid rounded-lg bg-white shadow-sm">
    <div class="card-header flex mb-4">
      <img class="mr-4 h-[48px] w=[48px]" src="/profile-thumbnail.png" alt="profile photo">
      <div class="profile-info">
        <p class="name text-lg font-semibold text-neutral-900">Sarah Dole</p>
        <p class="handle text-sm font-normal text-neutral-600">&#64;sarahdole</p>
      </div>
    </div>
    <p class="card-content text-base font-normal text-neutral-600">I&apos;ve been searching for high-quality abstract images for my
      design <br> projects, and I&apos;m thrilled to have found this platform.
      The variety and depth of creativity are astounding!</p>
  </div>
</main>

<!-- Attribute this challenge to yourself! -->
<div class="credits" data-gfe-screenshot-exclude="true">
  A challenge by
  <a
    href="https://www.greatfrontend.com/projects?ref=challenges"
    target="_blank"
    >GreatFrontEnd Projects</a
  >. Built by
  <a
    href="https://www.greatfrontend.com/projects/u/marcusjdaniels"
    target="_blank"
    >Marcus</a
  >.
</div>

<router-outlet />
